html, body{
    height: 100vh;
    width: 100vw;
    margin: 0px;

    color: #e7f6f2;
    background-color: #2c3333;

    /* display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; */
}

.reactLink{
    text-decoration: none;

    color: black;
}
.reactLink:hover{
    color: #e7f6f2;

}
.reactLinkHeader{
    text-decoration: none;
    color: #e7f6f2;

}
.reactLinkHeader:hover{
    text-decoration: underline;
}


#page{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
    
}
.waldoMap{

    max-width: 100% !important;
    height: auto;
    width: auto;


}
.waldoImage{
    max-width: 100% !important;
    height: auto;
    width: auto;
}

#mainPage{

    display: grid;
    grid-template-columns: minmax(150px, 1fr) 1fr;
}

.fancyIntro{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: span 1 / span 1;

}

.introImage{
    width: 80%;
    height: auto;
}

.frontText{
    margin: 15px;
    margin-top: 60px;
}

.lean1{
    transform: skew(60deg, -30deg) scaleY(0.66667);
}
.lean2{    

    transform: skew(0deg, -30deg) scaleY(1.33333);


}

.waldoSelection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    background-color: #395b64;
    border-radius: 15px;

    grid-area: span 1 / span 1;

    margin: 10px;

    -webkit-box-shadow: inset 26px 16px 24px -11px #A5C9CA;
    -moz-box-shadow: inset 26px 16px 24px -11px #A5C9CA;
    box-shadow: inset 26px 16px 24px -11px #A5C9CA;
}

#selectionPopUp{
    position:absolute;
    width: max-content;
    transform: translateX(-50%);
    transform: translateY(-50%);
    z-index:1000 ;
    background-color: #e7f6f2;
    color: black;
    padding: 5px;

    border: solid;
    border-color: #2c3333;
    border-radius: 15px;
}

.selectionSpecifics{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    color: black;

    

    background-color: #A5C9CA;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
}

.selectionDisplay{
    height: 100px;

    width: auto;
}

#navBar{
    display: inline;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #395b64;

    -webkit-box-shadow: 0px 2px 2px 0px #A5C9CA;
    -moz-box-shadow: 0px 2px 2px 0px #A5C9CA;
    box-shadow: 0px 2px 2px 0px #A5C9CA;

}
#navBar:visited{
    text-decoration: none;
}
#navBar > .links{
    list-style-type: none;

}
#navBar > ul > li{

    display: inline;
    margin: 15px;
}

#popUp{
    position: absolute;
    z-index: 1002;
    height: 200px;
    width: 200px;
    background-color: #395b64;
    top: 50%;
    left: 50%;
    padding: 15px;
    margin: -100px 0 0 -100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.popupElement{
    margin: 5px;
}

#findableProfilePics{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.findableProfile{
    height: 50px;
    width: auto;
    margin: 10px;
    border: solid;
    border-color: green;
}

.findableProfileSelect{
    height: 35px;
    width: auto;
    margin: 5px;
}

.findableProfileSelect:hover{
    border: solid;
    border-color: green;
}

#highscore{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mapScores{
    margin: 5px;
}

.scoreDisplay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mapScores{
    padding: 15px;

    background-color: #395b64;
}