html, body{
    height: 100vh;
    width: 100vw;
    margin: 0px;

    /* display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; */
}

#page{
    margin: 0;
    width: 100%;
    height: 100%;
    border: solid;
    box-sizing: border-box;
    padding: 10px;
    
}
.waldoMap{

    width: auto;
    height: 350px;


}
.waldoImage{
    border: solid;
    width: 100%;
    height: auto;
}

.waldoSelection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.selectionSpecifics{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.selectionDisplay{
    height: 100px;
    width: auto;
}

#navBar{
    display: inline;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    border-color: blue;


}
#navBar:visited{
    text-decoration: none;
}
#navBar > .links{
    list-style-type: none;

}
#navBar > ul > li{

    display: inline;
    margin: 15px;
}

#popUp{
    position: absolute;
    z-index: 1002;
    height: 300px;
    width: 300px;
    background-color: brown;
    top: 50%;
    left: 50%;

    margin: -150px 0 0 -150px;
}

#findableProfilePics{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.findableProfile{
    height: 50px;
    width: auto;
    margin: 10px;
    border: solid;
    border-color: green;
}

#highscore{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mapScores{
    margin: 5px;
}

.scoreDisplay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}